* {
    background-color: #070911;
    color: aliceblue;
    text-decoration: none;
    background-image: url(/img/DntQqaTVAAAhgCe.remini-enhanced.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    /* border: outset red; */
}

.header {
    font-family: 'Montserrat', sans-serif;
    padding-top: 24px;
    padding-bottom: 25px;
    /* border: outset red; */
    font-size: 24px;
}

.header-navigation {
    display: flex;
    justify-items: center;
    gap: 50px;
}

.main-link {
    padding-left: 600px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.main-title {
    font-family: 'Raleway', sans-serif;
    line-height: 34px;
    animation-name: fadeIn;
    animation-duration: 2s; /* ������������ �������� */
    animation-fill-mode: forwards;
}

.main-section {
    margin-top: 150px;
    padding-left: 490px;
}

